<router-outlet></router-outlet>

<h2>My Heroes</h2>
<!--<div><span>hero_id: </span>{{hero.hero_id}}</div>
<div><span>name: </span>{{hero.name}}</div>-->

<ul>
  <li class="d-flex m-1" *ngFor="let hero of heroes" routerLink="/heroes/{{hero.hero_id}}"
    [class.selected]="hero===selectedHero" (click)="onSelect(hero)">
    <span class="rounded-left p-2 bg-primary text-light">{{hero.hero_id}}</span>
    <div class="rounded-right p-2 bg-light text-dark w-50">{{hero.name}}</div>
  </li>
</ul>

<!--<app-hero-detail [childHero]="selectedHero"></app-hero-detail>-->

<!--<div>
  <button [disabled]="isSpecial">propery binding button</button>
</div>

<div>
  <div [class.special]="isSpecial">class binding button</div>
</div>

<div>
  <button [style.color]="isSpecial ? 'red' : 'green'">style binding button</button>
</div>

<div>
  <button (click)="onSave($event)">event binding</button>
</div>

<div>
  <label>name</label>
  <input [(ngModel)]="hero.name" placeholder="이름">
</div>

<span [style.textDecoration]="isSpecial ? 'line-through' : 'none'">fighting</span>-->
